@tailwind base;
@tailwind components;
@tailwind utilities;

/* Désactiver le scroll et fixer la hauteur */
html, body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: hidden;
}
